*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

body{
    background-color: #cad2c5;
    width: 100%;
}

.header{
    background-color: #2f3d46 !important;
    display: flex;
    align-items: center;
    color: #f8fdfe;
    padding: 20px 30px;
}

.heading{
    flex-grow: 1;
    text-align: center;
}

main{
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.left-box{
    width: 300px;
    height: 550px;
    background-color: #353535;
    border-radius: 20px;
    margin-right: 70px;
    margin-bottom: 70px;
}

#search{
    width: 500px;
    height: 45px;
    padding: 10px;
    background-color: #353535;
    border-radius: 10px;
    font-weight: bolder;
}

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-box .box{
    width: 190px;
    height: 130px;
    background-color: #353535;
    border-radius: 20px;
    margin: 70px 40px;
}

.three-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-box{
    width: 735px;
    height: 165px;
    background-color: #353535;
    border-radius: 15px;
}

.bottom-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:800px){
    .three-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .three-box .box{
        width: 300px;
        height: 130px;
        margin: 40px;
    }
    .footer-box{
        width: 600px;
        height: 165px;
    }
    .left-box{
        width: 600px;
        margin-left: 70px;
    }
    #search{
        width: 500px;
    }
}

@media screen and (max-width: 500px){
    .footer-box{
        width: 400px;
        height: 165px;
    }
    .left-box{
        width: 300px;
    }
    #search{
        width: 300px;
    }
}

@media screen and (max-width: 430px){
    .header{
        width: 100%;
    }
    .left-box{
        margin-left: 70px;
    }
    #search{
        width: 390px;
    }
    .three-box .box{
        width: 190px;
    }
    .footer-box{
        width: 380px;
    }
}

@media screen and (max-width: 768px){
    .left-box{
        margin-left: 70px;
    }
}